#### Handling Null values in pandas ####

In [1]:
# Import required libraries
import pandas as pd

In [2]:
# Load data
df = pd.read_json('../../datasets/data.json')
df.head()

   Duration  Pulse  Maxpulse  Calories
0      60.0  110.0     130.0     409.1
1      60.0  117.0     145.0     479.0
2      60.0  103.0     135.0     340.0
3      45.0  109.0     175.0     282.4
4      45.0  117.0     148.0     406.0

In [3]:
# Get no.of column and rows of the data
df.shape

(169, 4)

In [4]:
# Get non null count of all columns
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  166 non-null    float64
 1   Pulse     165 non-null    float64
 2   Maxpulse  165 non-null    float64
 3   Calories  162 non-null    float64
dtypes: float64(4)
memory usage: 6.6 KB

In [5]:
# Check does dataframe has null values
df.isnull().sum()

Duration    3
Pulse       4
Maxpulse    4
Calories    7
dtype: int64

In [6]:
df.describe()

         Duration       Pulse    Maxpulse     Calories
count  166.000000  165.000000  165.000000   162.000000
mean    64.277108  107.448485  133.945455   375.917901
std     42.484454   14.365612   16.556722   268.013841
min     15.000000   80.000000  100.000000    50.300000
25%     45.000000  100.000000  124.000000   250.775000
50%     60.000000  105.000000  131.000000   317.850000
75%     60.000000  111.000000  141.000000   386.700000
max    300.000000  159.000000  184.000000  1860.400000

In [7]:
# Mean (Best for normal distributions)
df["Duration"].fillna(df["Duration"].mean(), inplace=True)

C:\Users\464_0743\AppData\Local\Temp\ipykernel_7284\3679724468.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Duration"].fillna(df["Duration"].mean(), inplace=True)

In [8]:
df.isnull().sum()

Duration    0
Pulse       4
Maxpulse    4
Calories    7
dtype: int64

In [9]:
# Median (Best for skewed distributions)
df["Maxpulse"].fillna(df["Maxpulse"].median(), inplace=True)

C:\Users\464_0743\AppData\Local\Temp\ipykernel_7284\459097630.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Maxpulse"].fillna(df["Maxpulse"].median(), inplace=True)

In [10]:
df.isnull().sum()

Duration    0
Pulse       4
Maxpulse    0
Calories    7
dtype: int64

In [11]:
# Mode (Best for categorical data)
df["Maxpulse"].fillna(df["Maxpulse"].mode(), inplace=True)

C:\Users\464_0743\AppData\Local\Temp\ipykernel_7284\2415854039.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Maxpulse"].fillna(df["Maxpulse"].mode(), inplace=True)

In [12]:
# Removes any row with at least one NaN
df.dropna(inplace=True)

In [13]:
# drop entire column
df.drop(columns=["Pulse"], inplace=True)

In [14]:
# drop all null values in subset columns
df.dropna(subset=["Calories"], inplace=True)

In [15]:
df.isnull().sum()

Duration    0
Maxpulse    0
Calories    0
dtype: int64

In [16]:
df.shape

(158, 3)