Removing Outliers

In [1]:
import pandas as pd
from scipy import stats
import numpy as np

In [2]:
df = pd.read_json('../../datasets/data.json')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  166 non-null    float64
 1   Pulse     165 non-null    float64
 2   Maxpulse  165 non-null    float64
 3   Calories  162 non-null    float64
dtypes: float64(4)
memory usage: 6.6 KB

In [4]:
df.shape

(169, 4)

In [5]:
df.isnull().sum().sum()

np.int64(18)

In [6]:
df.describe()

         Duration       Pulse    Maxpulse     Calories
count  166.000000  165.000000  165.000000   162.000000
mean    64.277108  107.448485  133.945455   375.917901
std     42.484454   14.365612   16.556722   268.013841
min     15.000000   80.000000  100.000000    50.300000
25%     45.000000  100.000000  124.000000   250.775000
50%     60.000000  105.000000  131.000000   317.850000
75%     60.000000  111.000000  141.000000   386.700000
max    300.000000  159.000000  184.000000  1860.400000

In [7]:
# Use z-score when data follows a normal distribution (bell curve)
z_score_duration = np.abs(stats.zscore(df["Duration"]))
z_score_duration

array([nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan])

In [8]:
df_clean_duration = df[z_score_duration < 3]

In [9]:
df_clean_duration

Empty DataFrame
Columns: [Duration, Pulse, Maxpulse, Calories]
Index: []

In [10]:
z_score_pulse = np.abs(stats.zscore(df["Pulse"]))
z_score_pulse

array([nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan])

In [11]:
df_clean_pulse = df[z_score_pulse < 3]

In [12]:
df_clean_pulse

Empty DataFrame
Columns: [Duration, Pulse, Maxpulse, Calories]
Index: []

In [13]:
# Use when data is skewed (not normally distributed)
Q1 = df["Calories"].quantile(0.25)  # First quartile
Q3 = df["Calories"].quantile(0.75)  # Third quartile
IQR = Q3 - Q1  # Interquartile range

In [14]:
IQR

np.float64(135.92500000000007)

In [15]:
df_clean_calories = df[(df["Calories"] >= (Q1 - 1.5 * IQR)) & (df["Calories"] <= (Q3 + 1.5 * IQR))]

In [16]:
df_clean_calories

     Duration  Pulse  Maxpulse  Calories
0        60.0  110.0     130.0     409.1
1        60.0  117.0     145.0     479.0
2        60.0  103.0     135.0     340.0
3        45.0  109.0     175.0     282.4
4        45.0  117.0     148.0     406.0
..        ...    ...       ...       ...
164      60.0  105.0     140.0     290.8
165      60.0  110.0     145.0     300.4
166      60.0  115.0     145.0     310.2
167      75.0  120.0     150.0     320.4
168      75.0  125.0     150.0     330.4

[145 rows x 4 columns]

In [17]:
df_clean_calories.describe()

         Duration       Pulse    Maxpulse    Calories
count  142.000000  141.000000  141.000000  145.000000
mean    52.464789  108.056738  133.659574  300.965517
std     17.712704   14.874606   16.787253  100.037622
min     15.000000   80.000000  100.000000   50.300000
25%     45.000000  100.000000  122.000000  246.000000
50%     60.000000  106.000000  131.000000  300.100000
75%     60.000000  112.000000  141.000000  361.900000
max    120.000000  159.000000  182.000000  563.200000

In [18]:
df_clean_calories.info()

<class 'pandas.core.frame.DataFrame'>
Index: 145 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  142 non-null    float64
 1   Pulse     141 non-null    float64
 2   Maxpulse  141 non-null    float64
 3   Calories  145 non-null    float64
dtypes: float64(4)
memory usage: 5.7 KB

In [19]:
# Use when you don't want to lose data but want to cap extreme values.
lower = df["Calories"].quantile(0.05)  # 5th percentile
upper = df["Calories"].quantile(0.95)  # 95th percentile
df["Calories"] = df["Calories"].clip(lower, upper)

In [24]:
df

     Duration  Pulse  Maxpulse  Calories
0        60.0  110.0     130.0     409.1
1        60.0  117.0     145.0     479.0
2        60.0  103.0     135.0     340.0
3        45.0  109.0     175.0     282.4
4        45.0  117.0     148.0     406.0
..        ...    ...       ...       ...
164      60.0  105.0     140.0     290.8
165      60.0  110.0     145.0     300.4
166      60.0  115.0     145.0     310.2
167      75.0  120.0     150.0     320.4
168      75.0  125.0     150.0     330.4

[169 rows x 4 columns]

In [25]:
lower, upper

(np.float64(124.01), np.float64(872.3799999999998))